@model Lotofacil.Application.ViewsModel.ContestViewModel
@{
    ViewData["Title"] = "Deletar Concurso Base";
}

<section class="content-header" style="margin:16px;">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Deletar o <b>@Html.DisplayFor(model => model.Name)</b></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Página Inicial</a></li>
                    <li class="breadcrumb-item"><a href="/BaseContest/List">Concursos Base</a></li>
                    <li class="breadcrumb-item active">Deletar concurso</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content" style="margin:16px;">
    <div class="container-fluid">
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">@Html.DisplayFor(model => model.Name)</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        Data:
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Data.ToShortDateString()
                    </dd>
                    <dt class="col-sm-2">
                        Números:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Numbers)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
                        Deletar
                    </button>
                    <a asp-action="Index" class="btn btn-danger float-right">Voltar para a página anterior</a>
            </div>
        </div>
    </div>
</section>



@*Ação de clicar no botão deletar abrindo essa div com o modal*@
<div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Confirmação</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Realmente deseja deletar esse registro?</p>
            </div>
            <form asp-action="Delete">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Fechar</button>
                    <input type="submit" value="Deletar" class="btn btn-outline-light"/>
                </div>
            </form>
        </div>
    </div>
</div>

