@model IEnumerable<Lotofacil.Application.ViewsModel.TopContestViewModel>
@{
    ViewData["Title"] = "Dashboard";
    var contests = Model.ToList(); // Converte o IEnumerable em uma lista indexável
}

<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row">
        @for (int i = 0; i < contests.Count; i++)
        {
            <div class="card card-danger card-outline" style="margin:16px; width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title m-0">@("Concurso " + (i + 1))</h5>
                </div>
                <div class="card-body">
                    <p><strong>Nome:</strong> @contests[i].Name</p>
                    <p><strong>Data:</strong> @contests[i].Data.ToShortDateString()</p>
                    <p><strong>Números:</strong> @contests[i].Number</p>
                    <hr>
                    <ul>
                        @foreach (var occurrence in contests[i].NumberOccurences)
                        {
                            <li>Número: <strong>@occurrence.Number</strong> - Ocorrências: <strong>@occurrence.Occurences</strong></li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>