@model IEnumerable<Lotofacil.Application.ViewsModel>
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row">
        <!-- Card 1 -->
        <div class="card card-danger card-outline" style="margin:16px; width: 18rem;">
            <div class="card-header">
                <h5 class="card-title m-0">Concurso Mais Acertado</h5>
            </div>
            <div class="card-body">
                <p><strong>Nome:</strong> @Model[0].Name</p>
                <p><strong>Data:</strong> @Model[0].Data.ToShortDateString()</p>
                <p><strong>Números:</strong> @Model[0].Number</p>
                <hr>
                <ul>
                    @foreach (var occurrence in Model[0].NumberOccurences)
                    {
                        <li>Número: <strong>@occurrence.Number</strong> - Ocorrências: <strong>@occurrence.Occurences</strong></li>
                    }
                </ul>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card card-danger card-outline" style="margin:16px; width: 18rem;">
            <div class="card-header">
                <h5 class="card-title m-0">Segundo Mais Acertado</h5>
            </div>
            <div class="card-body">
                <p><strong>Nome:</strong> @Model[1].Name</p>
                <p><strong>Data:</strong> @Model[1].Data.ToShortDateString()</p>
                <p><strong>Números:</strong> @Model[1].Number</p>
                <hr>
                <ul>
                    @foreach (var occurrence in Model[1].NumberOccurences)
                    {
                        <li>Número: <strong>@occurrence.Number</strong> - Ocorrências: <strong>@occurrence.Occurences</strong></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>