@model IEnumerable<Lotofacil.Domain.Entities.BaseContest>

@{
    ViewData["Title"] = "Página Inicial";
}

@if (Model.Any())
{
    <div class="card card-orange" style="margin:16px;">
        <div class="card-header">
            <h3 class="card-title">Home</h3>
        </div>
        <div class="card-body">
            <!-- Botão grande acima da tabela -->
            <div class="mb-4">
                <form asp-action="ExecuteJobManually" method="post">
                    <button type="submit" class="btn btn-primary">Atualizar registros</button>
                </form>
            </div>
            <!-- Tabela de concursos -->
            <table class="table table-striped projects text-center" id="tabela">
                <thead>
                    <tr class="text-lg">
                        <th style="width: 20%">
                            Nome
                        </th>
                        <th style="width: 10%">
                            Data
                        </th>
                        <th style="width: 45%">
                            Números
                        </th>
                        <th style="width: 5%">
                            11
                        </th>
                        <th style="width: 5%">
                            12
                        </th>
                        <th style="width: 5%">
                            13
                        </th>
                        <th style="width: 5%">
                            14
                        </th>
                        <th style="width: 5%">
                            15
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </td>
                            <td>
                                <a>
                                    @item.Data.ToShortDateString()
                                </a>
                            </td>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Numbers)
                                </a>
                            </td>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Hit11)
                                </a>
                            </td>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Hit12)
                                </a>
                            </td>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Hit13)
                                </a>
                            </td>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Hit14)
                                </a>
                            </td>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Hit15)
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
